#h1
{
height:300px;
width:623px;
background-image:url('image/6.jpg');

}
#header
{
height:300px;
width:622px;
margin-left:623px;
background-image:url('image/9.jpg');

}
#content
{
height:700px;
width:1245px;
margin-top:20px;

}
#left
{
height:700px;
width:415px;
margin-top:-1px;


}
#middle
{
height:700px;
width:415px;
margin-left:415px;
margin-top:-701px;

}
#right
{
height:700px;
width:415px;
margin-left:830px;
margin-top:-702px;
text-align:justify;

}
#footer
{
height:70px;
width:1245px;
margin-top:-1px;
text-align:Center;

}

